
<h1 style="
display: flex;
justify-content: space-between;
">Case View 
    <nav style="display: inline-block; margin-top: -8px;">
    <ul>
        <li>
            <a class="button" href="/<%= route %>/create">Open a New Case</a>
            <a class="button" href="/<%= route %>">Go to Case List</a>
        </li>
    </ul>
    </nav>
</h1>

<!-- status: {
    type: String,
    default: 'un-assigned',
    enum: ['in-progress', 'resolved', 'denied', 'un-assigned'],
}, -->

<form action="/<%= route %>/status/<%=CommentsList._id %>" method="POST">
    <select name="status">
        <option <%= CommentsList.status == 'in-progress' ? 'selected' : '' %> value="in-progress">In Progress</option>
        <option <%= CommentsList.status == 'resolved' ? 'selected' : '' %> value="resolved">Resolved</option>
        <option <%= CommentsList.status == 'denied' ? 'selected' : '' %> value="denied">Denied</option>
    </select>
    
    <button type="submit" class="btn btn-primary btn-block">
        Update
    </button>
</form>


<!-- notes: [{
    comment: { type: String },
    writer: {
        type: mongoose.Schema.Types.ObjectId, 
        ref: 'User',
    },
    timeStamp: {type: Date},
}], -->
<form action="" method="POST">
    <fieldSet>
      <legend>Add Comment:</legend>
    
    <div>
        <label for="comment">Description</label>
        <textarea
          name="comment"
          placeholder=""        
        ></textarea>
    </div>
</fieldSet>
    <button type="submit" class="btn btn-primary btn-block">
        Post
    </button>
    </form>
<h3> Comments </h3>
<div class="comments">
<!-- return the most recent comments first by default the array sorts ascending so reversing returns the most recent commetns first -->
<% CommentsList.notes.reverse().forEach(function(Comment) { %>
    <div class="comment <%= Comment.writer._id.toString() == user._id.toString() ? 'mine' : 'other' %>">
        <p class="writer">
            <%=Comment.writer.name %>
        </p>
    
        <p class="date">
            <%=Comment.timeStamp.toDateString() %>
        </p>
        <p class="text">
            <%=Comment.comment %>
        </p>
    </div>
<% }) %>
</div>