<h1 style="
display: flex;
justify-content: space-between;
">Dashboard 
<% if (user.role != "Admin") { %>
    <nav style="display: inline-block; margin-top: -8px;">
    <ul>
        <li>
            <a class="button" href="/casesUser">Cases</a>
            <!-- The alert in the onClick action requires the DHX scheduler's javascript code to be present on the page -->
            <button class="button disable" disable onClick="scheduler.alert('Feature Coming Soon'); return;">Request Time Off</button>
        </li>
    </ul>
    </nav>
    <% } %>
</h1>
<p class="callout"> Welcome <%= user.name %> (<%= user.role %>)</p>

<% if (user.role == 'Admin') { %>
<h2>Organizations</h2> 
<table id="data-tables">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Request By</th>
            <th>Action</th>
        </tr>
    </thead>
<% organizations.forEach(function(org) { %>
    
<tr>
    <td><%= org.name %></td>
    <td><%= org.status %></td>
    <td><% if (org.requestedBy) { %> <%= org.requestedBy.name %> <%- org.requestedBy.personalEmail %> <% } %></td>
    <td>
        <% if (org.status == 'Pending' || org.status == 'Denied') { %>
            <a href="/organization/approve/<%= org._id%>">Approve</a>
        <% } if (org.status == 'Pending' || org.status == 'Approved') {%>
            <a href="/organization/deny/<%= org._id%>">Deny</a>
        <% } %>
            <a href="/organization/delete/<%= org._id%>">Delete</a>
    </td>
</tr>
<% }) %>
</table>
<% } %>

<% if (user.role != 'Admin') { %>
<div id="scheduler_here" class="dhx_cal_container"
    style='width:100%; height:100%;'>
    <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
        <div class="dhx_cal_tab" name="day_tab"></div>
        <div class="dhx_cal_tab" name="week_tab"></div>
        <div class="dhx_cal_tab" name="month_tab"></div>
    </div>
    <div class="dhx_cal_header"></div>
    <div class="dhx_cal_data"></div>
</div>
<script>
    // set format of dates in the data source
    scheduler.config.xml_date="%Y-%m-%d %H:%i";
    scheduler.config.readonly = true;

    scheduler.init('scheduler_here', new Date(), "month");

    scheduler.load("/calendar/data", "json");
</script>
<% } %>