<h1 style="display: flex;
justify-content: space-between;
margin-bottom: 10px;
"
>Employee List
<% if(user.role == "SuperUser" || user.role == "HR") { %> 
<nav style="display: inline-block; margin-top: -8px">
    <ul>
        <li>
            <a class="button" href="/EmployeeList/create">Add Employee</a>
        </li>
        <li>
        </li>
    </ul>
    </nav>
    <% } %>
</h1>
<%- include ('./partials/messages') %>

<table id="data-tables">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Login</th>
            <th>Manager</th>
            <th>Last Logged In</th>
            <th>Actions</th>
        </tr>
    </thead>
<% users.forEach(function(item) { %>
    
<tr>
    <td><%= item.firstName %></td>
    <td><%= item.lastName %></td>
    <td><%= item.personalEmail %></td>
    <td><%= item.role %></td>
    <td><%= item.login %></td>
    <td><% if (item.manager) {%> <%= item.manager.name %> (<%= item.manager.login %>) <% } %></td>
    <td><%= item.lastLoggedInDate %></td>
    <td>
        <% if(user.role == "SuperUser" || user.role == "HR") { %> 
            <a href="/EmployeeList/<%= item._id %>">Edit</a> |
            <span>Mark Terminate</span>
        <% } %>
    </td>
   
</tr>
<% }) %>
</table>