<!-- <%- include ('./partials/header') %> -->

<h1>Calendar Event Creator</h1>
<!-- <%- include ('./partials/messages') %> -->
<form action="/Calendar/CreateEvent" method="POST">
<fieldSet>
  <legend>Your Information:</legend>

<div>
    <label for="name">First name</label>
    <input
      type="name"
      name="name"
      placeholder="Enter Name"
      value="<%= typeof name != 'undefined' ? name : '' %>"
    />
  
</div>

<div>
    <label for="belongsTo">belongsTo</label>
        <select name="belongsTo">
        <% users.forEach((user) => { %>
         <option value="<%- user._id %>"><%- user.name %></option>
        <% }) %>
       </select>
    />
</div>

<div>
  <label for="startDate">startDate</label>
  <input
    type="date"
    name="startDate"
    placeholder="Enter the Start Date of the Event"
    value="<%= typeof startDate != 'undefined' ? startDate : '' %>"
  />
</div>

<div>
    <label for="startTime">startTime</label>
    <input
      type="time"
      name="startTime"
      placeholder="Enter the Start Time of the Event"
      value="<%= typeof startTime != 'undefined' ? startTime : '' %>"
    />

<div>
  <label for="endDate">endDate</label>
  <input
    type="date"
    name="endDate"
    placeholder="Enter the End Date of the Event"
    value="<%= typeof endDate != 'undefined' ? endDate : '' %>"
  />
</div>
<div>
    <label for="endTime">endTime</label>
    <input
      type="time"
      name="endTime"
      placeholder="Enter the End Time of the Event"
      value="<%= typeof endTime != 'undefined' ? endTime : '' %>"
    />

<div>

  <button type="submit" class="btn btn-primary btn-block">
    Create Event
  </button>
</form>
<p >Have An Account? <a href="/users/login">Login</a></p>