<h1>Register</h1>
<%- include ('./partials/messages') %>
<form action="/superuser/create" method="POST">
<div>
    <label for="firstName">First Name</label>
    <input
      type="name"
      name="firstName"
      placeholder="Enter First Name"
      value="<%= typeof firstName != 'undefined' ? firstName : '' %>"
    />
  
</div>
<div>
    <label for="lastName">Last Name</label>
    <input
      type="name"
      name="lastName"
      placeholder="Enter Last Name"
      value="<%= typeof lastName != 'undefined' ? lastName : '' %>"
    />
  
</div>
<div>
    <label for="login">login</label>
    <input
      type="text"
      name="login"
      placeholder="Enter Login"
      value="<%= typeof login != 'undefined' ? login : '' %>"
    />
  
</div>

<div>
    <label for="proposedCompany">proposedCompany</label>
    <input
        type="proposed composed"
        name="proposedCompany"
        placeholder="Proposed Company"
        value="<%= typeof proposedCompany != 'undefined' ? proposedCompany : '' %>"
        />

</div>

<div><!--need to be list -->
    <label for="permissionLevel">Permission Level</label>
    <input
      type="number"
      name="permissionLevel"
      placeholder="choose Permission Level"
      value="<%= typeof permissionLevel != 'undefined' ? permissionLevel : '' %>"
    />
  
</div>

<div>
    <label for="personalEmail">Email</label>
    <input
      type="email"
      name="personalEmail"
      placeholder="Enter Email"
      value="<%= typeof personalEmail != 'undefined' ? personalEmail : '' %>"
    />
  </div>
  <button type="submit" class="btn btn-primary btn-block">
    Register
  </button>
</form>
<p >Have An Account? <a href="/users/login">Login</a></p>