<h1>Register</h1>
<%- include ('./partials/messages') %>
<form action="/superuser/create" method="POST">
<div>
    <label for="firstName">First name</label>
    <input
      type="name"
      name="firstName"
      placeholder="Enter First Name"
      value="<%= typeof firstName != 'undefined' ? firstName : '' %>"
    />
  
</div>
<div>
    <label for="lastName">Last name</label>
    <input
      type="name"
      name="lastName"
      placeholder="Enter Last Name"
      value="<%= typeof lastName != 'undefined' ? lastName : '' %>"
    />
  
</div>
<div>
    <label for="login">login</label>
    <input
      type="text"
      name="login"
      placeholder="Enter Login"
      value="<%= typeof login != 'undefined' ? login : '' %>"
    />
  
</div>

<div>
    <label for="proposedCompany">proposedCompany</label>
    <input
        type="proposed composed"
        name="proposedCompany"
        placeholder="Proposed Company"
        value="<%= typeof proposedCompany != 'undefined' ? proposedCompany : '' %>"
        />

</div>

<div>
    <label for="personalEmail">Email</label>
    <input
      type="email"
      name="personalEmail"
      placeholder="Enter Email"
      value="<%= typeof personalEmail != 'undefined' ? personalEmail : '' %>"
    />
  </div>
  <!-- <div >
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Create Password"
      value="<%= typeof password != 'undefined' ? password : '' %>"
    />
  </div>
  <div >
    <label for="password2">Confirm Password</label>
    <input
      type="password"
      name="password2"
      placeholder="Confirm Password"
      value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
    />
  </div> -->
  <button type="submit" class="btn btn-primary btn-block">
    Register
  </button>
</form>
<p >Have An Account? <a href="/users/login">Login</a></p>