<%- include ('./partials/header') %>

<h1>Request new Organization</h1>
<%- include ('./partials/messages') %>
<form action="/organization/create" method="POST">
<fieldSet>
  <legend>Your Information:</legend>

<div>
    <label for="firstName">First name</label>
    <input
      type="name"
      name="firstName"
      placeholder="Enter First Name"
      value="<%= typeof firstName != 'undefined' ? firstName : '' %>"
    />
  
</div>
<div>
    <label for="lastName">Last name</label>
    <input
      type="name"
      name="lastName"
      placeholder="Enter Last Name"
      value="<%= typeof lastName != 'undefined' ? lastName : '' %>"
    />
  
</div>
<div>
    <label for="login">Login / Username</label>
    <input
      type="text"
      name="login"
      placeholder="Enter Login"
      value="<%= typeof login != 'undefined' ? login : '' %>"
    />
</div>

<div>
  <label for="personalEmail">Email</label>
  <input
    type="email"
    name="personalEmail"
    placeholder="Enter Email"
    value="<%= typeof personalEmail != 'undefined' ? personalEmail : '' %>"
  />
</div>

<div>
  <label for="password">Password</label>
  <input
    type="password"
    name="password"
    placeholder="Enter Password"
  />
</div>
<div>
  <label for="passwordConfirmation">Confirm Password</label>
  <input
    type="password"
    name="passwordConfirmation"
    placeholder="Enter Password again"
  />
</div>

</fieldSet>
<fieldSet>
  <legend>Company Information:</legend>
<div>
  
    <label for="proposedCompany">Name</label>
    <input
      type="text"
      name="proposedCompany"
      placeholder="Enter Proposed Company"
      value="<%= typeof proposedCompany != 'undefined' ? proposedCompany : '' %>"
    />
  
</div>
</fieldSet>

  <button type="submit" class="btn btn-primary btn-block">
    Request
  </button>
</form>
<p >Have An Account? <a href="/users/login">Login</a></p>